<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "gnuCashAndriod Native App Suite" parallel="tests" verbose="1">
	<test name="mobile Andriod gnuCashAndriod" group-by-instances="true" preserve-order="true" enabled="true">
		
		
		<classes>
		  	<!-- class name="shrayTestChallenge.gnucashAndriod.AppTest" /-->
		  	<class name="shrayTestChallenge.gnucashAndriod.AppDashboardTest" />
		  	
		</classes>
		
	</test>

</suite>